.background {
    background-image: url('./assets/abstract-black-lines-geometric-background_677411-2748.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}